/* to hide login prompt */
prm-alert-bar {
    display:none;
}
#magnifying-glass {
    color: #a51c30 !important;
}
/* home page */
#dbase_home_intro {
    display:block;
    clear:both;
    font-size:150%;
    margin-top:15px;
    font-weight: normal;
    margin: 15px 0px 15px 8px;
}
#dbase_homepage {
    max-width: 945px;
}
#dbase_homepage > div {
    max-width: 100%;
}
#dbase_homepage md-card {
    width: 50%;
}
#dbase_homepage md-card md-card-title {
    flex: 0 1 auto;
}

ul.dbase_list {
    margin-top:0px;
    padding-left: 0px;
}
ul.dbase_list li {
    list-style-type: none;
    line-height: 1.6;
}
a#dbmiscat {
    font-size:125%;
}
prm-personalize-results-button {
    display:none;
}
prm-login-alma-mashup {
    display:none;
}
/* hide type icon from search result, and type name */
prm-brief-result-container .result-item-image {
    display: none;
}
prm-brief-result-container .media-content-type {
    display: none;
}
/* hide NET AVA line
first child doesn't hide, both AVA and online get selected 
prm-search-result-availability-line > div :first-child {
    display:none;
}*/
prm-search-result-availability-line prm-icon[icon-definition="book-open"] {
    display:none;
}
prm-search-result-availability-line button[title*="Check holdings"] {
    display:none;
}
prm-search-result-availability-line button[title*="Networked Resource"] {
    display:none;
}
div#getit_link1_1 {
    display:none;
}
/* need to also hide from left nav on page */
#services-index button[aria-label*="Get It"] {
    display:none;
}
span[data-details-label="lds48"]:after{
    content:" ⇒";
}